
#container{
    justify-content: flex-start;



}
#friend-top{
    height: 500px;
    width: 100%;
    background-image: url("../../../img/friend/friend.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
#content{
    overflow: scroll;
}
#signal{
    width: 100%;
    height: 30px;
    background: none;
    /*color: white;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-weight: 100;
    font-size: 14px;
}
#signal-left{
    margin-left: 4px;
    flex: 1;
    height: 32px;
    display: flex;
    color: grey;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    color: whitesmoke;
}
#signal-right{
    display: flex;
    height: 32px;
    align-items: center;
    color: whitesmoke;
}

.signal-area{
    width: 30px;
    height: 16px;
    display: flex;
    align-items: flex-end;
}
.xg{
    width:8px;
    height: 16px;
    font-size: 2px;
    margin-right: -10px;
    margin-top: -2px;
    color:whitesmoke;


}
.signal-area div{
    width: 4px;
    background: whitesmoke;
    margin-left: 3px;
    border-radius: 1px;
}
.signal-area div:nth-child(1){
    height: 5px;
}
.signal-area div:nth-child(2){
    height: 8px;
}
.signal-area div:nth-child(3){
    height: 12px;
}
.signal-area div:nth-child(4){
    height: 15px;
}
.signal-ok{
    background: white;
}
.signal-lose{
    background: gray;
}

#battery{
    width: 35px;
    height: 18px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
#battery-body{
    height: 14px;
    width: 40px;
    border: 1px solid whitesmoke;
    border-radius: 1px;
}
#battery-header{
    height: 6px;
    width: 4px;
    background-color:whitesmoke;
    border-radius: 0px 1px 1px 0px;
}
#battery-core{
    height: 10px;
    width: 26px;
    background: lawngreen;
    margin: 2px;
}
#time{
    margin-right: 5px;
    font-size: 14px;
    color: whitesmoke;
}
@keyframes charge {
    0%{
        width: 1px;
        background: crimson;
    }
    20%{
        width: 6px;
        background: yellow;
    }
    80%{
        width: 20px;
        background: lawngreen;
    }
    100%{
        width: 26px;
        background: lawngreen;
    }
}
.charging{
    animation: charge 6s linear infinite;
}
#signal-right>div{
    margin-left: 5px;
}
.electric{
    color:whitesmoke;
}


/*submit start*/
#submit{
    width: 94%;
    margin: 0 auto;
}
#submit>div{
    border-bottom: 1px solid limegreen;
    height: 50px;
}
#submit>div>input{
    border: 0;
    background: ghostwhite;
    outline:none;
    color: black;
    font-weight:bold;
    font-size: 15px;

}
input[placeholder]{
    color: grey;
    opacity: .6;
    font-size: 14px!important;
}
.username{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.username-left{
    width: 70px;
    display: flex;
    margin-left: 10px;
    font-size: 15px;
}
.password{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.password-left{
    width: 70px;
    display: flex;
    margin-left: 10px;
    font-size: 15px;
}
#submit-login{
    width: 100%;
    background: limegreen;
    border: none;
    border-radius: 3px;
    height: 40px;
    margin-top: 10px;
    opacity: .6;
    font-size: 14px;
    color: white;
}

#getbackpassword{
    font-size: 12px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
}
#getbackpassword div{
    border-right: 1px solid gray;
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
.border-none{
    border-right: none!important;
    display: flex;
    justify-content: flex-start!important;
    margin-left: 10px;
}
.green{background-color:green!important;}
.bg-top{
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
    align-items: center;
}
.bg-left{
    color: whitesmoke;
    font-size: 22px;
    font-weight: bold;
}
.camera{
    width:40px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;

}
.cameraimg{
    width: 100%;
    height: 100%;
    background: url("../../../img/friend/camera.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#bg-bottom{
    display: flex;
    justify-content: flex-end;
    color: whitesmoke;
    font-size: 14px;
    flex: 1;

}
.bg-bottom-text{
    width: 70px;
    display: flex;
    margin-right: 25px;
    align-items: flex-end;
    flex: 1;
    justify-content: flex-end;
}
.bg-bottom-img{
    width: 60px;
    display: flex;
    align-items: flex-end;
    position: relative;

}
.bg-bottom-image{
    background-image: url("../../../img/friend/face1.jpg");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -25px;
    right: 15px;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 1px gainsboro;
}
.content{
    border-bottom: 1px solid gainsboro;
    margin-top: 20px;


}
.maincontent{
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.friend-head{
    width: 50px;
    height: 50px;
    display: flex;
    align-content: flex-start;
}
.friend-head-img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.content-right{
    flex: 1;
    margin-left: 10px;
}
.name{
    height: 18px;
    display: flex;
    align-items: center;
    color: #296ecc;
}
.content-txt{
    margin-top: 10px;
    flex-flow: nowrap;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.content-img img{
    max-width: 200px;
    max-height: 300px;

}
.content-img{
    margin-bottom: 10px;
    margin-top: 10px;
}
.content-bottom{
    justify-content: space-between;
    width: 100%;
    height: 30px;
}
.content-time{
    color: grey;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.content-main-icon{
    width: 30px;
    height: 30px;
    display: flex;
}
.content-main-img{
    width: 100%;
    height: 100%;
    background-image: url("../../../img/friend/comment.svg");
    background-size: cover;
    background-position: center;
}
.content-right-time{
    display: flex;
}
.ipush{
    display: none;
}
.push{

    width: 150px;
    height: 30px;
    display: inline-flex;

    align-items: center;
    background: black;
    border-radius: 3px;
    margin-right: 10px;
    color: whitesmoke;
    justify-content: space-around;
}
.pushleft{
    display: flex;
    align-items: center;
}
.pushright{
    display: flex;
    align-items: center;
}
.dianzan{
    width: 22px;
    height: 22px;
    display: flex;
    margin-right: 2px;
}
.discuss{
    width: 22px;
    height: 22px;
    display: flex;
    margin-right: 2px;
}
.dianzan-img{
    width: 100%;
    height: 100%;
    background: url("../../../img/friend/heart.svg");
    background-size: contain;
    background-position: center;
}
.discuss-img{
    width: 100%;
    height: 100%;
    background: url("../../../img/friend/discuss.svg");
    background-size: contain;
    background-position: center;
}



