#contact{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    flex:1;
    overflow: scroll;
    /*border: 1px solid red;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;


}
.contact-function>div{
    background: whitesmoke;
}
.contact-list{
    display: flex;
    justify-content: flex-start;
}
.contact-img{
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
}
.contain-main{
    width: 92%;
    margin: 0 auto;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    border-bottom: 1px solid gainsboro;
    flex-flow: row nowrap;
}
.contact-head{
    width: 30px;
    height: 30px;
    display: flex;
}
.contact-right{
    flex: 1;
    white-space: nowrap;
    margin-left: 14px;
    font-family: "黑体";
    font-size: 13px;
    white-space: nowrap;
    letter-spacing: 0.5px;

}
.contact-letter .contain-main {
    height: 20px;
    font-size: 13px;
}
.contact{
    position: fixed;
    font-size: 12px;
    color: black;

}
.fix1{
    top: 92px;
    right: 5px;
}
.fix3{
    top: 105px;
    right: 8px;
}
.fix4{
    top: 120px;
    right: 8px;
}
.fix5{
    top: 135px;
    right: 8px;
}
.fix6{
    top: 150px;
    right: 8px;
}
.fix7{
    top: 165px;
    right: 8px;
}
.fix8{
    top: 180px;
    right: 8px;
}
.fix9{
    top: 195px;
    right: 8px;
}
.fix10{
    top: 210px;
    right: 8px;
}
.fix11{
    top: 225px;
    right: 8px;
}
.fix12{
     top: 240px;
     right: 8px;
 }
.fix13{
    top: 255px;
    right: 8px;
}
.fix14{
    top: 270px;
    right: 8px;
}
.fix15{
    top: 285px;
    right: 8px;
}
.fix16{
    top: 300px;
    right: 8px;
}
.fix17{
    top: 315px;
    right: 8px;
}
.fix18{
    top: 330px;
    right: 8px;
}
.fix19{
    top: 345px;
    right: 8px;
}
.fix20{
    top: 360px;
    right: 8px;
}
.fix21{
    top: 375px;
    right: 8px;
}
.fix22{
    top: 390px;
    right: 8px;
}
.fix23{
    top: 405px;
    right: 8px;
}
.fix24{
    top: 420px;
    right: 8px;
}
.fix25{
    top: 435px;
    right: 8px;
}
.fix26{
    top: 450px;
    right: 8px;
}
.fix27{
    top: 465px;
    right: 8px;
}
.fix28{
    top: 480px;
    right: 8px;
}
.fix29{
    top: 495px;
    right: 8px;
}
